
.skillsList {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 90%;
    background-color: #faccca;
    border: 2px solid white;
	border-radius: 15px;
    margin-bottom: 20vh;
	margin-left: 4%;
    padding: 4vh 1vw;
}
#test1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
}
#test2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto;
}
.skillDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logoText {
	font-size: 20px;
}
.logo {
	height: 12vh;
	width: auto;
}

@media screen and (max-width: 767px){
	.skillsList{
		margin-bottom: 1vh;
	}
}