#mainNav {
	display: flex;
	flex-direction: column;
	background-color: rgba(223, 0, 0, 0.233);
}

.logo {
	height: 5vh;
	width: 2.5vw;
}
#divGitHub{
    margin: 1vh 1vw
}
#divLinkedIn{
    margin: 1vh 1vw
}